.previewWrap {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 0 0 clamp(115px, 20vw, 260px);
	height: auto;
	border-radius: 12px;
	overflow: hidden;
	cursor: pointer;
	z-index: 1;
		&:first-child {
		transform-origin: left center;
	}

	&:last-child {
		transform-origin: right center;
	}
}
