.previewWrap {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 0 0 clamp(115px, 20vw, 260px);
	height: auto;
	border-radius: 12px;
	overflow: hidden;
	cursor: pointer;
	z-index: 1;
}





/*
@keyframes scaleUp {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1.5);
    opacity: 1;
  }
} */