.previewWrap {
	display: flex;
	flex: 0 0 clamp(111px, 20vw, 231px);
	height: auto;
	scroll-snap-align: center;
}

.poster {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.description {
	display: none;
}

.title {
}
